.entrar {
    --background: linear-gradient(to top, #b30a79, #c10b84, #cf0d90, #dd0f9c, #eb12a9);
    --background-activated: #b30a79;
    font-weight: bold;
    --box-shadow: .01em .1em .3em rgba(0, 0, 0, 0.418);
}

.fgt-password {
    box-shadow: none;
}

ion-img.login-illustration {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.aqui ion-content {
    justify-content: space-between;
}