ion-segment-button {
  --color-checked: #f03ec0;
}

.register_custom_button {
  --background: linear-gradient(to top, #b30a79, #c10b84, #cf0d90, #dd0f9c, #eb12a9);
  --background-activated: #b30a79;
  font-weight: bold;
}