.header_title ion-title {
  font-size: xx-large;
  font-weight: bold;
}

.editinfo_header {
  font-size: large;
}


.avatar_container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.avatar_container ion-avatar {
    margin-left: auto;
    margin-right: auto;
    height: 40vw;
    width: 40vw;
}

.save_button {
  /* --background: linear-gradient(to right, #ff62f7, #f246c2, #dc3092, #c02069, #a11746); */
  --background: linear-gradient(to top, #b30a79, #c10b84, #cf0d90, #dd0f9c, #eb12a9);
  --background-activated: #b30a79;
  --box-shadow: .01em .1em .3em rgba(0, 0, 0, 0.418);
}

.custom_toolbar {
  color: whitesmoke;
  --background: linear-gradient(to right, #f12ca6, #dc2998, #c8278b, #b4247d, #a12170);
}

.profile_page ion-label{
  font-weight: bold;
}