.header h1 {
  color: #333;
  font-size: xx-large;
}

.login,
.singin {
  --background: linear-gradient(
    to top,
    #b30a79,
    #c10b84,
    #cf0d90,
    #dd0f9c,
    #eb12a9
  );
  --background-activated: #b30a79;
  --box-shadow: 0.01em 0.1em 0.3em rgba(0, 0, 0, 0.418);
  font-weight: bold;
}

ion-img.gay-couple {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
